<html>
<body background="back.jpg">
<h1>Welcome to host	: {{ansible_hostname}}</h1>
<h1>Host IP Address	: {{ansible_all_ipv4_addresses}}</h1>
<h1>Host OS Family	: {{ansible_os_family}}</h1>
<h1>Running Since       : {{ansible_uptime_seconds}}</h1>
<h1>Document Root       : {{http_doc}}</h1>
<h1>Broght to You by    : {{username}}</h1>
</body>
</html>
